*.o
*.cmd
*.order
*.builtin
*.a
*.tmp
*.gen.S
*.so
include/generated
usr/initramfs_data.cpio.gz
usr/.initramfs_data.cpio.d
usr/gen_init_cpio

crypto/asymmetric_keys/x509-asn1.c
crypto/asymmetric_keys/x509-asn1.h
crypto/asymmetric_keys/x509_akid-asn1.c
crypto/asymmetric_keys/x509_akid-asn1.h
crypto/asymmetric_keys/x509_rsakey-asn1.c
crypto/asymmetric_keys/x509_rsakey-asn1.h
scripts/asn1_compiler
scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/genksyms/genksyms
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
scripts/mod/devicetable-offsets.s
	
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm64/boot/Image
arch/arm64/boot/Image.gz

.config
.config.old
.missing-syscalls.d
arch/arm64/boot/dts/exynos/dtbo/exynos7884-xcover4s_eur_open_00.dtbo
arch/arm64/boot/dts/exynos/dtbo/exynos7884-xcover4s_eur_open_02.dtbo
arch/arm64/boot/dts/exynos/dtbo/exynos7885.dtb
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vmlinux.lds
firmware/abov/a96t326_jackpotvelte.fw
firmware/abov/a96t346_a6elte.fw
firmware/abov/a96t346_xcover4s.fw
firmware/five/ffffffff000000000000000000000072.tlbin
firmware/tsp_zinitix/zt7538_xcover4s.fw
include/config/cc/stackprotector/regular.h
include/config/kernel.release
include/linux/get_static_t.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
lib/crc32table.h
lib/gen_crc32table
lib/oid_registry_data.c
security/proca/proca_certificate-asn1.c
security/proca/proca_certificate-asn1.h
security/samsung/defex_lsm/defex_packed_rules.bin
security/samsung/defex_lsm/defex_packed_rules.inc
security/samsung/defex_lsm/pack_rules
security/selinux/av_permissions.h
security/selinux/flask.h
vmlinux

